{% extends "template.html" %} {% block title%}Albums{% endblock %}

{% block content %}
	<section class="page-title section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <h1 class="text-capitalize mb-0 text-lg">Albums</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section blog-post">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4">
	<div class="post mb-5">
		<a class="image-content">
			<img src="static/images/albums/Karma.jpg" alt="" class="img-fluid">
		</a>

		<div class="post-content">
			<span class="date text-uppercase text-sm">2025</span>
			<h4>Karma</h4>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4">
	<div class="post mb-5">
		<a class="image-content">
			<img src="static/images/albums/GIANT.png" alt="" class="img-fluid">
		</a>

		<div class="post-content">
			<span class="date text-uppercase text-sm">2024</span>
			<h4>Giant</h4>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4">
	<div class="post mb-5">
		<a class="image-content">
			<img src="static/images/albums/5-Star.png" alt="" class="img-fluid">
		</a>

		<div class="post-content">
			<span class="date text-uppercase text-sm">2023</span>
			<h4>5-Star</h4>

		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4">
	<div class="post mb-5 mb-lg-0">
		<a class="image-content">
			<img src="static/images/albums/NOEASY.jpeg" alt="" class="img-fluid">
		</a>

		<div class="post-content">
			<span class="date text-uppercase text-sm">2021</span>
			<h4>NOEASY</h4>

		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4">
	<div class="post mb-5 mb-lg-0">
		<a class="image-content">
			<img src="static/images/albums/THE SOUND.webp" alt="" class="img-fluid">
		</a>

		<div class="post-content">
			<span class="date text-uppercase text-sm">2021</span>

			<h4>THE SOUND</h4>

		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4">
	<div class="post mb-5 mb-lg-0">
		<a class="image-content">
			<img src="static/images/albums/Go Live.png" alt="" class="img-fluid">
		</a>

		<div class="post-content">
			<span class="date text-uppercase text-sm">2020</span>

			<h4>Go Live</h4>
		</div>
	</div>
</div>
</section>
{% endblock %}
