{% extends "template.html" %} {% block title%}Home Page{% endblock %}

{% block content %}
<!-- Banner Start -->
<section class="section banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
				 <img src="static/images/skzlogo-large.webp" height="200px" alt="Stray Kids Logo">
			</div>
		</div>
	</div>
</section>

<!-- Banner End -->

<!-- Section Start -->
 <section class="overview">
	<div class="container">
 		<div class="row shuffle-wrapper portfolio-gallery">
	      <div class="col-lg-4 col-6 mb-4 shuffle-item"  data-groups="[&quot;design&quot;,&quot;illustration&quot;]">
		      	<div class="position-relative inner-box">
		          <div class="image position-relative ">
	               <img src="static/images/home/1.webp" alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner">
	                    <a class="overlay-content" href="/members">
	                      <h5 class="mb-0">Members</h5>
	                 	  <p>Explore Members</p>
	                    </a>
	                  </div>
	                </div> 
	            </div>
		      </div>
	      </div>
		  <div class="col-lg-4 col-6 mb-4 shuffle-item"  data-groups="[&quot;design&quot;,&quot;illustration&quot;]">
		      	<div class="position-relative inner-box">
		          <div class="image position-relative ">
	               <img src="static/images/home/2.png" alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner">
	                    <a class="overlay-content" href="/albums">
	                      <h5 class="mb-0">Albums</h5>
	                 	  <p>Explore Albums</p>
	                    </a>
	                  </div>
	                </div> 
	            </div>
		      </div>
	      </div>
	
<!-- Section End--> 
<!-- Footer start -->
<section class="footer">
	<div class="container">
		<div class="row ">
			<div class="col-lg-6">
				<div class="widget footer-widget text-lg-right mt-5 mt-lg-0">
					<ul class="list-inline mb-0">
						<li class="list-inline-item"><a href="https://www.facebook.com/themefisher" target="_blank"><i class="ti-facebook mr-3"></i></a>
						</li>
						<li class="list-inline-item"><a href="https://twitter.com/themefisher" target="_blank"><i class="ti-twitter mr-3"></i></a>
						</li>
						<li class="list-inline-item"><a href="https://github.com/themefisher/" target="_blank"><i class="ti-github mr-3"></i></a></li>
						<li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/" target="_blank"><i class="ti-pinterest mr-3"></i></a></li>
						<li class="list-inline-item"><a href="https://dribbble.com/themefisher/" target="_blank"><i class="ti-dribbble mr-3"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Footer End -->

<!-- Main Script -->
<script src="static/js/script.js"></script>

</html>
{% endblock %}
